{% extends "layout_index.html" %} {% block content %}
<style type="text/css">
    .gradient-custom {
        /* fallback for old browsers */
        background: #313131;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient( to right, rgb(56, 56, 56), rgba(37, 117, 252, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera
    12+, Safari 7+ */
        background: linear-gradient( to right, rgb(27, 27, 27), rgba(37, 117, 252, 1));
    }
</style>
<!--script html data return py by  .tesStre-->
<script type="text/javascript">
    function Binace_Spot() {
        document.getElementById("bt_spot").value = "spot";
    }

    function Binace_Future() {
        document.getElementById("bt_spot").value = "Future";
    }
</script>

<script>
    var id = ""
    //เช็กปุ่มว่า กดจากปุ่มไหน ให้ส่ง id ปุ่มเข้ามา ใช้กับ แถบบอท
    //document.getElementById ("btnsave").addEventListener ("click", resetEmotes, false);
    function reply_click(clicked_id) {
     
        document.getElementById("pass_action").value = clicked_id;
      
     
        var str_ID = clicked_id.replace("detail_Bot_","")
        id = str_ID
        console.log(str_ID+"_PassPhrase")
       
        // document.getElementById("set_txt1").value >>> เป็นตัวส่งข้อความไปฝั่ง PY = document.getElementById(str_ID+"_Label_API").value >>> เป็นตัวโยนค่าจาก HTML ไปให้ form 

   
        
      
    }

    function reply_click_future(clicked_id){
        document.getElementById("pass_action").value = clicked_id;
        var str_ID = clicked_id.replace("detail_Bot_","")
        id = str_ID
        console.log(str_ID+"_PassPhrase")
        document.getElementById("set_txt1").value = (document.getElementById(str_ID+"_Label_API").value)
        document.getElementById("set_txt2").value = (document.getElementById(str_ID+"_API_Key").value)
        document.getElementById("set_txt3").value = (document.getElementById(str_ID+"_API_SECRET").value)
        document.getElementById("set_txt4").value = (document.getElementById(str_ID+"_LineNotify").value)
        document.getElementById("set_txt5").value = (document.getElementById(str_ID+"_PassPhrase").value)
  
        document.getElementById("set_txt6").value = document.querySelector('input[name="'+id+'_MarginType"]:checked').value
        document.getElementById("set_txt7").value = document.querySelector('input[name="'+id+'_ReOpenOrder"]:checked').value
    
        

    }
    function reply_click_spot(clicked_id){
        document.getElementById("pass_action").value = clicked_id;
        var str_ID = clicked_id.replace("detail_Bot_","")
        id = str_ID
        console.log(str_ID+"_PassPhrase")
        document.getElementById("set_txt1").value = (document.getElementById(str_ID+"_Label_API").value)
        document.getElementById("set_txt2").value = (document.getElementById(str_ID+"_API_Key").value)
        document.getElementById("set_txt3").value = (document.getElementById(str_ID+"_API_SECRET").value)
        document.getElementById("set_txt4").value = (document.getElementById(str_ID+"_LineNotify").value)
        document.getElementById("set_txt5").value = (document.getElementById(str_ID+"_PassPhrase").value)

    }
    function post_click(post_ID){
        
        var str_ID = post_ID.replace("code_Bot_","")
        id = str_ID
        document.getElementById("send_post").value = document.getElementById(id+"_test_send").value

    }
   

    function copy_scrip(ids){
        console.log(ids.replace("bt_",""))
        var scrip_ID = document.getElementById(ids.replace("bt_",""));
        txt = String(scrip_ID.value)
         console.log(txt)
        navigator.clipboard.writeText(txt);
    
    }
    

    function add_text(ids){ 
    //เมื่อเกิดการเปลี่ยนแปลงแก้ไข บอท จะโยนค่าจาก HTML ไป py
        
        var id = ids.split("_")[0]
    
        var txt =document.getElementById(ids).value;
      
        var para = 'input[name="'+id+'_MarginType"]:checked'
        
        var para2 = 'input[name="'+id+'_ReOpenOrder"]:checked'


      
        var radio = document.querySelector('input[name="'+id+'_MarginType"]:checked').value
        var radio2 = document.querySelector('input[name="'+id+'_ReOpenOrder"]:checked').value
        if (ids == id+"_Label_API"){
            document.getElementById("set_txt1").value = txt
        }
        if (ids == id+"_API_Key"){
            document.getElementById("set_txt2").value = txt
        }
        if (ids == id+"_API_SECRET"){   
            document.getElementById("set_txt3").value = txt
        }
        if (ids == id+"_LineNotify"){
            document.getElementById("set_txt4").value = txt
        }
        if (ids == id+"_PassPhrase"){
            document.getElementById("set_txt5").value = txt
        }
        if (ids == id+"_MarginType"){
            document.getElementById("set_txt6").value = document.querySelector('input[name="'+id+'_MarginType"]:checked').value
        }
        if (ids == id+"_ReOpenOrder"){
            document.getElementById("set_txt7").value = document.querySelector('input[name="'+id+'_ReOpenOrder"]:checked').value
        }
    }  
    function test_send(ids) {
        var txt =document.getElementById(ids).value;
        document.getElementById("send_post").value = txt
    }

    function add_text_future(ids){ 
    //เมื่อเกิดการเปลี่ยนแปลงแก้ไข บอท จะโยนค่าจาก HTML ไป py
        var id = ids.split("_")[0]
        var txt =document.getElementById(ids).value;
      
        var radio = document.querySelector('input[name="'+id+'_MarginType"]:checked').value
        var radio2 = document.querySelector('input[name="'+id+'_ReOpenOrder"]:checked').value

        if (ids == id+"_Label_API"){
            document.getElementById("set_txt1").value = txt
        }
        if (ids == id+"_API_Key"){
            document.getElementById("set_txt2").value = txt
        }
        if (ids == id+"_API_SECRET"){   
            document.getElementById("set_txt3").value = txt
        }
        if (ids == id+"_LineNotify"){
            document.getElementById("set_txt4").value = txt
        }
        if (ids == id+"_PassPhrase"){
            document.getElementById("set_txt5").value = txt
        }
        if (ids == id+"_MarginType"){
            document.getElementById("set_txt6").value = radio
        }
        if (ids == id+"_ReOpenOrder"){
            document.getElementById("set_txt7").value = radio2
        }
    } 
    function add_text_spot(ids){ 
    //เมื่อเกิดการเปลี่ยนแปลงแก้ไข บอท จะโยนค่าจาก HTML ไป py
        
        var id = ids.split("_")[0]
    
        var txt =document.getElementById(ids).value;
      
  
    
        if (ids == id+"_Label_API"){
            document.getElementById("set_txt1").value = txt
        }
        if (ids == id+"_API_Key"){
            document.getElementById("set_txt2").value = txt
        }
        if (ids == id+"_API_SECRET"){   
            document.getElementById("set_txt3").value = txt
        }
        if (ids == id+"_LineNotify"){
            document.getElementById("set_txt4").value = txt
        }
        if (ids == id+"_PassPhrase"){
            document.getElementById("set_txt5").value = txt
        }
  
    } 
   
</script>

<main class="content gradient-custom ">
    <form method="POST">
        <div class="container-fluid p-0">
            {{form.pass_action(class="visually-hidden-focusable",id="pass_action",value="p")}}
            
            
            {{form.set_txt1(class="visually-hidden-focusable",value="x")}}
            {{form.set_txt2(class="visually-hidden-focusable",value="x")}}
            {{form.set_txt3(class="visually-hidden-focusable",value="x")}}
            {{form.set_txt4(class="visually-hidden-focusable",value="x")}}
            {{form.set_txt5(class="visually-hidden-focusable",value="x")}}
            {{form.set_txt6(class="visually-hidden-focusable",value="x")}}
            {{form.set_txt7(class="visually-hidden-focusable",value="x")}}

            {{form.send_post(class="visually-hidden-focusable",value="x")}}
           
           
           <div class="card bg-dark text-light" style="border-radius: 1rem">
                <div class="card-header">
                    <h5 class="card-title mb-0">List Alert</h5>
                </div>
                <table class="table table-dark table-hover my-0 text-white-50">
                    <thead class="text-light">
                        <tr>
                            <th class="d-none d-md-table-cell">Date Time</th>
                            <th class="d-none d-xl-table-cell">label</th>
                            <th class="d-none d-xl-table-cell">Bot</th>
                            <th>Symbol</th>
                            <th>Action</th>
                            
                            <th>Price</th>
                            <th class="d-none d-md-table-cell">Quantity</th>
                            <th>Amount</th>
                            <th class="d-none d-md-table-cell">Passphrase</th>
                            <th class="d-none d-md-table-cell">strategy_name</th>
                        </tr>
                    </thead>
                    <tbody>
                       {{session["html_Alert"]| safe}}

                        
                    </tbody>
                </table>

            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card bg-dark text-white flex-fill w-100" style="border-radius: 1rem ">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Dashboard </h5>
                        </div>
                        <div class="card-body bg-dark bg-gradient">
                            {%if session["ch_api"] == "have" %}

                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>can't create!</strong> API KEY already have!
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {%else%} {%endif%}
                            <div class="row row-cols-auto">
                                {{session["html_isbot"] | safe }}
                            </div>

                            {{session["html_modal"] | safe }}

                            <div class="modal fade" id="pause_bot_Modal" tabindex="-1" aria-labelledby="pause_bot_Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content bg-dark bg-gradient text-light ">
                                        <div class="modal-header border-0">
                                            <h5 class="modal-title text-light" id="pause_bot_Label">Pause</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="text-light" id="message_txt"></h6>
                                        </div>
                                        <div class="modal-footer border-0">
                                            <button type="button" class="btn btn-dark border border-info" data-bs-dismiss="modal">Close</button> {{form.pause(class="btn btn-dark border border-info")}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="delete_bot_Modal" tabindex="-1" aria-labelledby="delete_bot_Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content bg-dark bg-gradient text-light ">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-light" id="delete_bot_1_Label">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body border-0">
                                            Are you sure Delete ?
                                        </div>
                                        <div class="modal-footer border-0">
                                            <button type="button" class="btn btn-dark border border-info" data-bs-dismiss="modal">Close</button> {{form.delete(class="btn btn-dark border border-info")}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                var exampleModal = document.getElementById('pause_bot_Modal')
                                exampleModal.addEventListener('show.bs.modal', function(event) {
                                    var button = event.relatedTarget
                                    var mess_title = button.getAttribute('data-bs-mess_title')
                                    var mess_body = button.getAttribute('data-bs-mess_body')
                                

                                    var modalTitle = exampleModal.querySelector('#pause_bot_Label')
                                    var modalBodyInput = exampleModal.querySelector('#message_txt')

                                    modalTitle.textContent = mess_title
                                    modalBodyInput.textContent = mess_body
                                })
                            </script>
                            <div class="accordion accordion-flush " id="accordionFlushExample" >
                                <div class="accordion-item bg-dark bg-gradient" style="border-radius: 1rem">
                                    <h2 class="accordion-header" id="flush-headingOne" >
                                        <button class="accordion-button collapsed bg-dark bg-gradient text-light" style="border-radius: 1rem" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       Setting bot & API
      </button>
                                    </h2>

                                    <div id="flush-collapseOne" class="accordion-collapse collapse bg-dark bg-gradient" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="row">

                                            <div class="col-12 col-lg-12">
                                                <div class="card bg-dark text-light" style="border-radius: 1rem">

                                                    <div class="card-body bg-dark bg-gradient">
                                                        <!-- start -->
                                                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                                                            <li class="nav-item" role="presentation">
                                                                <div class="d-block">

                                                                    {{form.to0X8sp765598as00zo23(class="visually-hidden-focusable" ,id="bt_spot",value="spot")}}
                                                                </div>
                                                                <button class="btn btn-dark border-bottom-0 border-light active" name="fname" onclick="Binace_Spot()" id="Binace_Spot-tab" value="spot" data-bs-toggle="tab" data-bs-target="#Binace_Spot" type="button" role="tab" aria-controls="Binace_Spot" aria-selected="false">
                                                                                                Binace Spot
                                                                                            </button>
                                                            </li>
                                                            <li class="nav-item" role="presentation">
                                                                <button class="btn btn-dark border-bottom-0 border-light" id="Binace_Future-tab" onclick="Binace_Future()" data-bs-toggle="tab" data-bs-target="#Binace_Future" type="button" role="tab" aria-controls="Binace_Future" aria-selected="false">
                                                                             Binace Future
                                                                                </button>
                                                            </li>
                                                        </ul>


                                                        <div class="tab-content" id="myTabContent">

                                                            <div class="tab-pane fade show active" id="Binace_Spot" role="tabpanel" aria-labelledby="Binace_Spot-tab">
                                                                <!-- Spot -->

                                                            </div>

                                                            <div class="tab-pane fade " id="Binace_Future" role="tabpanel" aria-labelledby="Binace_Future-tab">
                                                                <!-- Future -->
                                                                <div class="input-group m-2">
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                MarginType {{form.MarginType()}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                ReOpenOrder {{form.ReOpenOrder()}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- end -->
                                                        <div class="row">
                                                            <div class="input-group m-2">
                                                                <span class="input-group-text bg-dark bg-gradient text-light border border-dark">Label API</span> {{form.Label_API(class="form-control bg-dark text-light border border-dark")}}
                                                            </div>
                                                            <div class="input-group m-2">
                                                                <span class="input-group-text bg-dark bg-gradient text-light border border-dark">API Key</span> {{form.API_Key(class="form-control bg-dark text-light border border-dark")}}
                                                            </div>
                                                            <div class="input-group m-2">
                                                                <span class="input-group-text bg-dark bg-gradient text-light border border-dark">API SECRET</span> {{form.API_SECRET(class="form-control bg-dark text-light border border-dark")}}
                                                            </div>
                                                            <div class="input-group m-2">
                                                                <span class="input-group-text bg-dark bg-gradient text-light border border-dark">LineNotify</span> {{form.LineNotify(class="form-control bg-dark text-light border border-dark")}}
                                                            </div>
                                                            {# <div class="input-group m-2">
                                                                <span class="input-group-text">PassPhrase</span> {{form.PassPhrase(class="form-control")}}
                                                            </div> #}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-12">
                                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                    {{form.Create_API(class="btn btn-dark border border-info")}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 col-xxl-3 d-flex order-1 order-xxl-1">
                    <div class="card bg-dark text-white flex-fill w-100" style="border-radius: 1rem">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Browser Usage</h5>
                        </div>
                        <div class="card-body d-flex">
                            <div class="align-self-center w-100">
                                <div class="py-3">
                                    <div class="chart chart-xs">
                                        <canvas id="chartjs-dashboard-pie"></canvas>
                                    </div>
                                </div>

                                <table class="table mb-0">
                                    <tbody class="text-light ">
                                        <tr>
                                            <td>Chrome</td>
                                            <td class="text-end">4306</td>
                                        </tr>
                                        <tr>
                                            <td>Firefox</td>
                                            <td class="text-end">3801</td>
                                        </tr>
                                        <tr>
                                            <td>IE</td>
                                            <td class="text-end">1689</td>
                                        </tr>
                                        <tr>
                                            <td>IsssE</td>
                                            <td class="text-end">1689</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>




                    <script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function() {
                            // Pie chart
                            new Chart(document.getElementById("chartjs-dashboard-pie"), {
                                type: "pie",
                                data: {
                                    labels: ["Chrome", "Firefox", "IE", "IsssE"],
                                    datasets: [{
                                        data: [1689, 1689, 1689, 1689],
                                        backgroundColor: [
                                            window.theme.primary,
                                            window.theme.warning,
                                            window.theme.danger,
                                        ],
                                        borderWidth: 5,
                                    }, ],
                                },
                                options: {
                                    responsive: !window.MSInputMethodContext,
                                    maintainAspectRatio: false,
                                    legend: {
                                        display: false,
                                    },
                                    cutoutPercentage: 75,
                                },
                            });
                        });
                    </script>


                </div>
            </div>
        </div>
    </form>
</main>




<script src="static/js/app.js">
</script>

</body>

</html>

{%endblock%}