{% extends "layout_index.html" %} {% block content %}



<main class="content">
    <div class="container-fluid p-0 align-content-end">

        <div class="mb-3">
            <div class="col-md-3 col-md-12">
                <!-- Button trigger modal -->



                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Modal -->
                                <div class="modal-body">
                                    <h5>Popover in a modal</h5>
                                    <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-bs-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p>
                                    <hr>
                                    <h5>Tooltips in a modal</h5>
                                    <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> have tooltips on hover.</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var myModal = document.getElementById('myModal')
                    var myInput = document.getElementById('myInput')

                    myModal.addEventListener('shown.bs.modal', function() {
                        myInput.focus()
                    })
                </script>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0 text-uppercase">Package Promotion</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xl-3">
                                <div class="card text-center">

                                    <span class="fs-4 text-primary m-3">1 Month</span>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col ">
                                                <span class="fs-5 text-primary">free</span>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.exchange(class="form-select ")}}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.spot_future(class="form-select")}}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {# {{form.buy_demo(class="btn btn-primary" )}} #}
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
Buy Demo
</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-3">
                                <div class="card text-center">
                                    <span class="fs-4 text-primary m-3">1 Month</span>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col ">
                                                <span class="fs-5 text-primary">1.5$ </span>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.exchange(class="form-select")}}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.spot_future(class="form-select")}}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.buy_1(class="btn btn-primary")}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-3">
                                <div class="card text-center">
                                    <span class="fs-4 text-primary m-3">3 Month</span>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col ">
                                                <span class="fs-5 text-primary">4.5$ </span>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.exchange(class="form-select")}}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.spot_future(class="form-select")}}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.buy_3(class="btn btn-primary")}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-3">
                                <div class="card text-center">
                                    <span class="fs-4 text-primary m-3">12 Month</span>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <span class="fs-5 text-primary">18$ </span>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.exchange(class="form-select")}}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col text-center">
                                                {{form.spot_future(class="form-select")}}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="text-center">
                                                {{form.buy_12(class="btn btn-primary")}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-2">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title mb-0 text-uppercase">My Package</h5>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <table class="table table-hover my-0">
                                    <thead>
                                        <tr>
                                            <th class="d-none d-md-table-cell">Date</th>
                                            <th>Current plan</th>
                                            <th class="d-none d-md-table-cell">Price</th>
                                            <th>Expire</th>
                                            <th class="d-none d-md-table-cell">Type billing</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="d-none d-md-table-cell">17/04/2022</td>
                                            <td>Binnace Spot 12 Month</td>
                                            <td class="d-none d-md-table-cell">18$</td>
                                            <td>17/04/2023</td>
                                            <td class="d-none d-md-table-cell">transfer Promptpay</td>
                                        </tr>
                                        <tr>
                                            <td class="d-none d-md-table-cell">08/04/2022</td>
                                            <td>Binnace Future 12 Month</td>
                                            <td class="d-none d-md-table-cell">18$</td>
                                            <td>08/04/2023</td>
                                            <td class="d-none d-md-table-cell">transfer Promptpay</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title mb-0 text-uppercase">BILLING HISTORY</h5>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <table class="table table-hover my-0">
                                    <thead>
                                        <tr>
                                            <th class="d-none d-md-table-cell">Date</th>
                                            <th>Current plan</th>
                                            <th class="d-none d-md-table-cell">Price</th>
                                            <th>Status</th>
                                            <th>upload</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="d-none d-md-table-cell">17/04/2022</td>
                                            <td>Binnace Spot 12 Month</td>
                                            <td class="d-none d-md-table-cell">18$</td>
                                            <td>checking</td>
                                            <td>


                                                <input type="file" class="form-control">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="d-none d-md-table-cell">08/04/2022</td>
                                            <td>Binnace Future 12 Month</td>
                                            <td class="d-none d-md-table-cell">18$</td>
                                            <td>successful</td>
                                            <td class="d-none d-md-table-cell">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 text-uppercase">Profile</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span>ID Name </span> {{form.UserID(class="form-control")}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span>Email</span> {{form.UserEmail(class="form-control")}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span>Password</span> {{form.User_Password(class="form-control")}}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <span>New Password</span> {{form.User_NewPassword(class="form-control")}}
                                </div>

                            </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    {{form.Save_Changes(class="btn btn-primary")}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</main>

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> &copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>



</div>

<script src="static/js/app.js"></script>

</body>

</html>

{% endblock %}