{% extends "layout_index.html" %} {% block content %}


<main class="content  gradient-custom ">
    <div class="container-fluid p-0 align-content-end">


        <div class="col-md-4 col-md-6">
            <div class="card  bg-dark text-light" style="border-radius: 1rem">
                <div class="card-header">
                    <h5 class="card-title mb-0 text-uppercase">Profile</h5>
                </div>
                <div class="card-body  bg-dark bg-gradient">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="colFormLabel" class="col-form-label">UserID Name</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="email" class="form-control bg-dark text-light border border-dark" id="colFormLabel" placeholder="col-form-label">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="colFormLabel" class="col-form-label">Email</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="email" class="form-control bg-dark text-light border border-dark" id="colFormLabel" placeholder="col-form-label">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="colFormLabel" class="col-form-label">Password</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="password" class="form-control bg-dark text-light border border-dark" id="colFormLabel" placeholder="col-form-label">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4"> <label for="colFormLabel" class="col-form-label">Email</label></div>

                        <div class="col-sm-8">
                            <input type="password" class="form-control bg-dark text-light border border-dark" id="colFormLabel" placeholder="col-form-label">
                        </div>
                    </div>
                    <div class="row mb-3 text-center">

                        <div class="col-sm-10">
                            <button type="button" class="btn btn-dark border border-info" data-bs-toggle="modal" data-bs-target="#CreateAPIbot">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cpu" viewBox="0 0 16 16">
                                                                <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                                                                                </svg> UPDATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> &copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>



</div>

<script src="static/js/app.js"></script>

</body>

</html>

{% endblock %}