{% extends "layout.html" %} {% block content %}
<style type="text/css">
    .gradient-custom {
        /* fallback for old browsers */
        background: #313131;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgb(56, 56, 56), rgba(37, 117, 252, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera
    12+, Safari 7+ */
        background: linear-gradient(to right, rgb(27, 27, 27), rgba(37, 117, 252, 1))
    }
</style>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form method="POST">

                            <div class="mb-md-5 mt-md-4 pb-5">



                                {%if notfound == "send_success"%}
                                <h2 class="fw-bold mb-2 text-uppercase text-white">Please Check your Email !</h2>



                                {%else%}
                                <h2 class="fw-bold mb-2 text-uppercase text-white">Reset Password</h2>

                                <p class="text-white-50 mb-5">Please enter your Email !</p>

                                <div class="form-outline form-white mb-4">
                                    {%if notfound == "notfound"%}
                                    <p class="text-red-50 mb-1 is-invalid">Email not found !</p>
                                    {{form.Email(class="form-control is-invalid form-control-lg",placeholder="Email")}} {%else%} {{form.Email(class="form-control form-control-lg",placeholder="Email")}} {%endif%}
                                </div>

                                <div class="form-outline form-white mb-4">

                                    {{form.send_Submit(class="btn btn-outline-light btn-lg px-5",id="Sub")}}



                                </div>



                                {%endif%}
                                <div id="onload" style="display: none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <p class="text-red-50 mb-1">Please wait...</p>
                                </div>
                                <div>
                                    <p class="mb-0"><a href="{{url_for('login')}}" class="text-white-30 fw-bold">Log in</a>
                                    </p>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            const Sub = document.querySelector("#Sub");
            const onload = document.querySelector("#onload");

            Sub.addEventListener("click", function() {
                if (onload.style.display === "none") {
                    onload.style.display = "block";
                }


            });
            if (notfound == "send_success") {
                onload.style.display = "none";
            }
            togglePassword.addEventListener("mouseout", function() {
                password.setAttribute("type", "password");

                this.classList.toggle("fa-eye");
                this.classList.toggle("fa-eye-slash");
            });
        </script>
</section>

{% endblock %}